.sidebar {
  background-color: #333333;
  height: 100%;
  padding-top: 1.25rem;
  position: fixed;
  right: -15.625rem;
  top: 0;
  transition: right 0.3s ease;
  width: 15.625rem;
  z-index: 30;

  &.open {
    right: 0;
  }

  .closeButton {
    background: unset;
    border: unset;
    cursor: pointer;
    font-size: 1.875rem;
    padding: 0.9375rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  .emptyCart {
    margin-top: 30px;
    padding: 10px;
  }

  .sidebarList {
    list-style: none;
    padding: 0.625rem 0 0;
  }

  .totalPrice {
    padding: 0.625rem;
  }

  .clearButton {
    margin-left: 0.625rem;
  }
}
